/* CSS Document for accord*/
:root {
	 --color_fondo_bfp: rgba(60,118,61,0.9);
}

.cntx-scc{
		  padding-left: 60px;
		  padding-right: 60px;
		  padding-bottom: 10px;
		  border-bottom: 1px solid #eee;
		}		
.cntx-scc-topic {
	text-align: justify;	
	padding-bottom: 20px;
	border-bottom: 3px solid var(--color_fondo_bfp);
}		
.cntx-scc-topic h3{
	color: cornsilk;
	background-color: var(--color_fondo_bfp);
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}		
.cntx-scc-topic p{
	padding-left: 40px;
	padding-top: 20px;
	font-size: 20px;
}

/* Style the tab for results */
.tabSpecial {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 30%;
}

/* Style the buttons inside the tab */
.tabSpecial button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabSpecial button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabSpecial button.active {
  background-color: #3c763de6;
  color: #eee;

}

/* Style the tab content */
.tabSpecialcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 80%;
  background-color: #f7b366e6;
}

.tabSpecialcontent li{
    letter-spacing: .8px;
    text-align: justify;
    
}
/*  Ends tabs things   */

/*  CSS Modal   */

.columnDiv {
    float: left;
    width: 25%;
  }

/* The Modal (background) */
.modalDiv {
    display: none;
    margin-top: 0%;
    position: absolute;
    z-index: 1000;
    padding-top: 4%;
    left: 0;
    top: 0;
    width: 100%;
    
    overflow: auto;
    background-color: #000;
}

/* Modal Content */
.modalDiv-content {
    position: relative;
    background-color: #000;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 90%;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
/* the slides */ 
.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prevModalDivNv,
.nextModalDivNv {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.mySlides img{
    width: 100%;    
}

img {
    margin-bottom: -4px;
}

.modal_caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.modal_demo {
    opacity: 0.6;
}



.modal_active,
.modal_demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* el codigo de la etquieta card para el accordion*/


.accordion>.card {
    overflow: hidden;
   
}

.accordion>.card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0
}

.accordion>.card:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: 1px;
    background-color: #3c763de6;
    border-bottom: 1px solid #fff;
    padding: 0.5rem 1rem;
}

/* botones de accordion encabezado*/
.accordion_btn {
    background-color: #3c763de6;
    text-align: justify;
    color: #ccc;   
     /* original */
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 3rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out

}

.accordion_btn:hover {
    background-color: #742c03f3;
    text-shadow: #fff;
}

/*
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem
}

.card>hr {
    margin-right: 0;
    margin-left: 0
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

.card > .card-header +.list-group,.card > .list-group+.card-footer {
    border-top: 0
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem
}

.card-title {
    margin-bottom: .5rem
}

.card-subtitle {
    margin-top: -.25rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link+.card-link {
    margin-left: 1rem
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(60,120,60,.963);
    border-bottom: 1px solid rgb(255, 255, 255)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-footer {
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125)
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
    margin-right: -.5rem;
    margin-bottom: -.5rem;
    margin-left: -.5rem;
    border-bottom: 0
}

.card-header-pills {
    margin-right: -.5rem;
    margin-left: -.5rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(.25rem - 1px)
}

.card-img,.card-img-bottom,.card-img-top {
    width: 100%
}

.card-img,.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card-img,.card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

.card-group>.card {
    margin-bottom: .75rem
}
*/