/* CSS Document for accord*/
:root {
	 --color_fondo_bfp: rgba(60,118,61,0.9);
}

.cntx-scc{
		  padding-left: 60px;
		  padding-right: 60px;
		  padding-bottom: 10px;
		  border-bottom: 1px solid #eee;
		}		
.cntx-scc-topic {
	text-align: justify;	
	padding-bottom: 20px;
	border-bottom: 3px solid var(--color_fondo_bfp);
}		
.cntx-scc-topic h3{
	color: cornsilk;
	background-color: var(--color_fondo_bfp);
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}		
.cntx-scc-topic p{
	padding-left: 40px;
	padding-top: 20px;
	font-size: 20px;
}

/* Style the tab for results */
.tabSpecial {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 30%;
}

/* Style the buttons inside the tab */
.tabSpecial button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabSpecial button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabSpecial button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabSpecialcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 80%;
}
/*  Ends tabs things   */

/*  CSS Modal   */

.columnDiv {
    float: left;
    width: 25%;
  }

/* The Modal (background) */
.modalDiv {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000099;
}

/* Modal Content */
.modalDiv-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 90%;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
/* the slides */ 
.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prevModalDivNv,
.nextModalDivNv {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.modal_caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

