/* CSS Document */
:root {
	 --color_fondo_bfp: rgba(60,118,61,0.9);
}

.cntx-scc{
		  padding-left: 60px;
		  padding-right: 60px;
		  padding-bottom: 10px;
		  border-bottom: 1px solid #eee;
		}		
.cntx-scc-topic {
	text-align: justify;	
	padding-bottom: 20px;
	border-bottom: 3px solid var(--color_fondo_bfp);
}		
.cntx-scc-topic h3{
	color: cornsilk;
	background-color: var(--color_fondo_bfp);
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}		
.cntx-scc-topic p{
	padding-left: 40px;
	padding-top: 20px;
	font-size: 20px;
}

/* Style the tab for results */
.tabSpecial {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 30%;
}

/* Style the buttons inside the tab */
.tabSpecial button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabSpecial button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabSpecial button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabSpecialcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 80%;
}

